.postBlock{
margin-left: 271px;
padding: 10px;
}
.postBlock{
color: white;
}
.textPost{
  width: 215px;
  height: 58px;
}
.postHeadingPost{
  margin-top: 5px;
  color: white;
  font-size: 14px;
}
.textPost p{
  color: white;
  margin-top: 10px;
  font-size: 12px;
}
img{
margin-top: 10px;
width: 250px;
height: 190px;
}
span{
color: rgb(84, 84, 246);
}
.autorPost{
  margin-top: 8px;
  color:gray;
}
