._container_1hbu7_2 {
    max-width: 100%;
    margin: 0 auto;
  }
  ._artZone_1hbu7_14 {
    padding: 10px;
    margin-left: 271px;
  }
  textarea {
    width: 100%;
    word-wrap: break-word;
    resize: none;
    font-size: 14px;
    font-weight: 200;
    overflow-y: scroll;
    height: 255px;
    line-height: 120%;
    background-color: #101622;
    color: #979797;
    overflow-y: unset;
    border-radius: 5px;
  }
  ._generate_tc5ca_1 {
    background-color: #8a2be2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: inline-flex;
    justify-content: center;
  }
  ._generate_tc5ca_1:hover {
    background-color: #6b238e;
  }
  ._thumbnail_1iu46_1 {
    width: 20%;
    height: 20%;
    margin: 5px;
    cursor: pointer;
  }
  ._sessionItem_1iu46_8 {
    display: flex;
    margin: 8px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid white;
  }
  ._sessionGallery_1iu46_16 {
    width: 100%;
    height: 100%;
  }
  ._mainMenu_1cu4o_1 {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 100%;
    border-right: 2px solid black;
  }
  h1 {
    font-size: 14px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    padding-left: 20px;
  }
  ._menuText_1cu4o_19 {
    cursor: default;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    padding-left: 20px;
  }
  ._accauntInfo_10irl_1 {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
  }
  ._accauntInfo_10irl_1:hover {
    cursor: pointer;
    background-color: #464646;
  }
  ._avatar_10irl_12 {
    font-size: 30px;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ._accauntText_10irl_24 {
    color: #fff;
  }
  ._myBtn_1oj7u_1 {
    padding: 15px;
    color: #fff;
    font-size: 15px;
    background-color: #1b1b1b;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
    width: 270px;
    border: none;
  }
  ._myBtn_1oj7u_1:hover {
    cursor: pointer;
    background-color: #464646;
  }
  ._postBlock_1qv4q_1 {
    margin-left: 271px;
    padding: 10px;
  }
  ._postBlock_1qv4q_1 h2 {
    color: #fff;
  }
  ._textPost_1qv4q_10 {
    width: 215px;
    height: 58px;
  }
  ._textPost_1qv4q_10 h2 {
    margin-top: 5px;
    color: #fff;
    font-size: 14px;
  }
  ._textPost_1qv4q_10 p {
    color: #fff;
    margin-top: 10px;
    font-size: 12px;
  }
  img {
    margin-top: 10px;
    width: 250px;
    height: 190px;
  }
  span {
    color: #5454f6;
  }
  ._autorPost_1qv4q_37 {
    margin-top: 8px;
    color: gray;
  }
  ._gallery_nc4xx_1 {
    margin-left: 271px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1vw;
    grid-auto-flow: dense;
    padding: 20px;
  }
  ._art_nc4xx_12 {
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }
  ._container_qfiky_1 {
    max-width: 100%;
    margin: 0 auto;
  }
  h2 {
    display: flex;
    justify-content: center;
    color: #f0f8ff;
    z-index: 10;
  }
  ._artZone_qfiky_13 {
    padding: 10px;
    margin-left: 271px;
  }
  p {
    color: #f0f8ff;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #1b1b1b;
  }
  