
.heading {
    display: flex;
    justify-content: center;
    color: aliceblue;
    z-index: 10;
}

.postZoneBG{
    /* зафиксируем элемент */
     top: 0;
     left: 0;
     width: 100wh; /* займет всю ширину экрана */
     height: 100vh; /* займет всю высоту экрана */
     padding: 10px;
   
     background-color: rgb(27, 27, 27);
   }
   
   .postZone {
     padding: 10px;
     margin-left: 271px;
     
   }
<<<<<<< HEAD
=======
@media (max-width: 768px) {
  .postZone {
      margin-left: 10px;
  }
}

>>>>>>> 1117adf (хранение изображений локально на серверном приложении, адаптив, интерфейс галлереи, фикс багов с токенами)
   .container {
    max-width: 100%;
    margin: 0 auto;
    
  }
.positionPosts{
    margin-top: 50px;
<<<<<<< HEAD
=======
}


@media (max-width: 768px) {
  .heading {
      padding-top: 90px;
  }
>>>>>>> 1117adf (хранение изображений локально на серверном приложении, адаптив, интерфейс галлереи, фикс багов с токенами)
}