.container{
    max-width: 100%;
    margin: 0 auto;  
}

h2{
    display: flex;
    justify-content: center;
    color: aliceblue;
    z-index: 10;
}
.artZone{
    
    padding: 10px;
    margin-left: 271px;
}

p{
  color: aliceblue;
}